<div class="jumbotron">
<h1><span class="insta">Insta</span><span class="book">book</span></h1>
<p>The functionality of both Instagram and Facebook, all in one handy web app. #tybg</p>
<p>Ready to get started? All you need to do is login to your Instagram and Facebook.</p>
<a href="/auth/instagram"><button type="button" class="btn btn-primary login-btn">Login</button></a></div>
<div class="row">
  <div class="col-md-4">
    <img src="http://i62.tinypic.com/a3oyz4.gif" class="home-icons">
    <br>
    <div class="home-text">
    From <span class="insta">Instagram</span>, our app can pull information to see
    <ul>
      <li>Your photos and captions</li>
      <li>Who's following you</li>
      <li>Who you're following</li>
    </ul>
  </div>
  </div>
  <div class="col-md-4">
    <img src="http://i61.tinypic.com/2ds1un5.png" class="home-icons">
    <br>
    <div class="home-text">
    From <span class="book">Facebook</span>, our app can pull information to see
    <ul>
      <li>Your basic information</li>
      <li>Your photos</li>
      <li>Your statuses</li>
    </ul>
    </div>
  </div>
  <div class="col-md-4">
    <img src="http://i61.tinypic.com/bgdbv7.png" class="home-icons">
    <br>
    <div class="home-text">
    Putting all of this information together, we generate data about
    <ul>
      <li>Your most popular status</li>
      <li>Your most popular picture</li>
    </ul>
    We are always adding new features to this app, so please check back regularly!
    </div>
  </div>
</div>
