<div class="jumbotron">
<h1>Welcome</h1>
<p>This is Instabook, an app that seamlessly integrates your Instagram and Facebook information into one convenient location on the web</p>
</div>
<div class="main-text">Before we can begin using <span class="insta">Insta</span><span class="book">book</span>, we need to authenticate your Instagram and Facebook accounts. <br><br>
<a href="/auth/instagram"><button type="button" class="btn btn-primary login-btn">Login</button></a></div>
