<div class="jumbotron">
<h1>Please...</h1>
<p>Log into Instabook and experience all this app has to offer! A whole new world is just a button click away.</p>
</div>
<div class="main-text">Before you can begin using <span class="insta">Insta</span><span class="book">book</span>, we need to authenticate your Instagram and Facebook accounts.<br><br>
<a href="/auth/instagram"><button type="button" class="btn btn-primary login-btn">Login</button></a></div>
